.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
**/tslint.json
client/src/**
client/node_modules/**
client/webpack.config.js
contributing.md
LICENSE
node_modules/**
server/src/**
server/node_modules/**
server/webpack.config.js
shared.webpack.config.js
**/tsconfig.base.json
**/tsconfig.json
workspace.code-workspace